/* Esericizio 11 */
body {
    width: 80vw;
    margin: 0 auto;
}

/* Esericizio 12 */

h1 {
    text-align: center;
}

/* Esericizio 13, effetto non visibile perchè i link sono immagini */
a:link {
    color: aqua;
}

/* Esericizio 14 */

.my-border {
    border: red solid 1px;
}

/* Esericizio 15 */

table {
    border-radius: 15px;
}

/* Esericizio 16 */

p {
    margin: 20px;
}


/* Esericizio 17 */
.my-font {
    font-size: 20px;
    font-weight: 700;
}

/* Esericizio 18 */
.hidden-element {
    visibility: hidden;
}

/* Esericizio 19 */
td {
    border: solid green 1px;
    /* ho aggiunto un min-width e una min-height per poter vedere meglio le celle*/
    min-width: 100px;
    height: 100px;
}
/* Esericizio 20 */
tr {
    outline: red dotted 1px;
}
